header{
    
    font-size: 30px;
    line-height: 30px;
    color: #4cbb17;
}

footer  {
    font-size: 20px;
}


body{
    background-color: #008000;
}


a:link{
    color: #000000 !important;
}


a:hover{
    font-weight:bold;
}

a:active{
    color: #999999;
}

body.home a.home {
    text-decoration: none; 
    }

body.menu a.menu {
    text-decoration: none;
}

body.contact a.contact {
    text-decoration: none;
}

.Beverages tr:nth-child(odd){
    background-color: #d5d2cb;
}

.table {
    margin: 0 auto;
    width: 80%;
}

th {
text-align: center;
}

table.borderless td,table.borderless th {
    border: none !important;
}

table, td, th {
    border-collapse: collapse;
}





    
    